@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.itemBox {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.itemBox:first-child {
  grid-column: 1/3;
  grid-row: 1/3;
}

.itemBox.selectedBox img {
  opacity: 0.5;
  transition: 0.5s;
}

.itemBox input {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 3;
  cursor: pointer;
  transform: scale(1.5);
  display: none;
}

.itemBox:hover input {
  display: block;
}

.itemBox.selectedBox input {
  display: block;
}

.itemBox button {
  width: 100%;
  height: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 0.5rem;
  overflow: hidden;
}

.itemBox button img {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.itemBox button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.466);
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s ease;
  border-radius: 0.5rem;
}

.itemBox button:hover:after {
  opacity: 1;
}
